
:root{
    --primary-color:#D1D5DB;
    -blue: #3730A3;
    --dark-grey: #374151;
    --light-grey:#D1D5DB;
}

.container-fluid{
    padding: 1rem 1rem;
 
}

.container-center {
    max-width: 600px;
    margin: auto;
}


.navigation{
    background-color: var(--primary-color);
    color:black;
    padding: 1rem ;
    border-bottom-left-radius: 2rem;

}

.navigation-id{
    background-color: var(--primary-color);
    color: white;
    padding: 2rem 3rem;
    border-bottom-left-radius: 3rem;
    font-weight: 800;
    font-size: 110%;
}

.navigation.nav-pills{
    padding: 0.8rem 0.8rem;
    font-weight: 600;
    font-size: 15px;
}

.navigation .link-developer{
    font-weight: 800;
    
}

.navigation .link{
    color: white;
}

.footer.footer-heading{
    font-weight: 200;
    font-style: italic;
    padding: 1rem 1rem;
    
    
}

.footer {
  background-color:var(--primary-color);
  padding: 1rem;
  border-top-right-radius: 2rem;
  text-align: center;
}
.footer .item{
    padding-inline-start: 0px;
}

.footer .link-footer{
    color: white;
}

.hero-header{
    padding: 2rem;
    padding-top:5rem;
}

.hero-header .hero-image{
    max-width: 450px ;
    display: block;
    margin: auto;
}
.hero-header .hero-heading{
    text-align: center;
}

.hero-header  .heading-new{
    color: var(--dark-grey);
}
.section{
    padding:1rem 1rem 4rem;  
      /**  text-align: center;**/
}

#input-text{
    height: 40px;
    width: 500px;
   margin:auto;
   padding:5rem;
  font-weight: lighter;
   border: 5px solid var(--light-grey);
   text-align: left;
 
}

#btn-translate{
    background-color: var(--primary-color);
    margin: 0 auto;
    padding: 1rem 1rem;
    display:block;
    font-size: large;
    color: black;
}

#div-output{
    border: 5px solid var(--light-grey);
            width: 500px;
            height: 40px;
            margin: auto;
            display: block;
            padding: 5rem;
            text-align: center;
            color:#6B7280;
            
}

.ow{
    margin: 2rem;
    padding:1em;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .container {
    height: 200px;
    position: relative;
    border: 3px solid green;
  }

  .non-bullet{
      list-style: none;
  }

  .list-item-inline{
      display:inline;
  }

  .monospace {
    font-family: "Lucida Console", Courier, monospace;
  }

  .form-control{
      display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.on{
    padding: o.5rem 1rem;
    font-size: 110%;
    margin-bottom: 1rem;
 font-family: 'Kalam', cursive;;
    
}
  
